.heading {
    font-size: 50px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px black;
    background-color: #FF0000;
    font-family: 'Creepster',cursive;
    color: cyan;
}

.heading:hover {
    transition: 3s;
    color: lime;
}

.heading_div {
    float: none;
    background: yellow;
    padding: 10px;
    border-radius: 20px;
    color: black;
    box-shadow: 5px 5px 5px black;
    font-family: 'Creepster', cursive;
    font-size: 50px;
    color: blue;
    font-style: italic;
}

.heading_div2 {
    background-color: blue;
    border-radius: 20px;
    font-size: 35px;
    color: red;
}

.heading_div2:hover {
    transition: 1.5s;
    background-color: lime;
}

.result_para_tag {
    font-size: 20px;
    box-shadow: 5px 5px 5px black;
    margin-right: 50px;
    background-color: blue;
    font-size: 30px;
    font-family: 'Creepster',cursive;
    font-style: italic;
    color: lime;
}

.copyright_footer {
    position: fixed;
    color: white;
    bottom: 0;
    width: 50%;
    background-color: blue;
    line-height: 3;
    text-align: center;
    font-size: 20px;
    border-radius: 200px;
    margin-left: 400px;
    box-shadow: 5px 5px 18px black;
    font-size: 25px;
    font-family: 'Creepster',cursive;
    font-style: italic;
    color: yellow;
    font-size: 20px;
}

canvas {
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px black;
    margin-top: 150px;
}